<div><%= link_to 'New slideshow', action:'new'%></div>
<div id="slideshow-summaries">
  <% @slideshows.each do |slideshow| %>
    <div id="slideshow-summary">
      <div id="slideshow-caption">
        <%= slideshow.name %>
        <small>(<%= slideshow.slides.size %> slides)</small>
      </div>

      <div id="slideshow-thumbnails">
        <% 5.times do |i| -%>
            <%= thumbnail_tag slideshow.slides[i] %>
        <% end -%>
        &nbsp;
        <strong>. . .</strong>
      </div>

      <div id="slideshow-controls">
        <%= link_to "Show", slideshow %>
        <%= link_to "Edit", edit_slideshow_path(slideshow) %>
        <%= link_to "Delete", slideshow, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <br/>
    <% end %>

</div>
<br />